<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rejestracja</title>
</head>
<body>
<h1>Rejestracja</h1>
<p th:if="${message}" th:text="${message}"></p>
<form action="#" th:action="@{/api/auth/register}" method="post">
    <label for="username">Nazwa użytkownika:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Hasło:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Zarejestruj się">
</form>
</body>
</html>